:root {
    --theme1-bg: #000;
    --theme1-bg90: #8d72a9;
    --theme2-bg: #7F00FF;
    --theme2-bg70: #9377b0;
    --theme2-bg85: #000;
    --primary-color: #fff;
    --secondary-color: #fff;
    --light-bg: #f1f1f1;
}
.newtab_collect .nav-tabs a:hover,
.newtab_collect .nav-tabs a.active{
    background: linear-gradient(180deg, var(--theme1-bg) 0%, var(--theme2-bg) 100%);
    color: #fff;
}
.rules-container p,
.rules-container {
    color: #ddd;
}